label {
    border: 1px solid;
    width: 200px;
}

.jumbotron {
    height: 100vh;
    background-color: aliceblue;
    margin-bottom: 0;
    text-align: -webkit-center;
}

.card {
    height: 50%;
    text-align: center;
    align-items: center;
    min-height: 80%;
}

.card-header {
    width: 100%;
}

.card-body {
    display: contents;
}

.card-text {
    margin: 30px;
}

#answer-button {
    width: 70%;
    margin: 10px;
}

#submit-card {
    justify-content: center;
}

#submit-button {
    width: 50%;
    height: 30%;
    font-size: xx-large;
}

@media screen and (max-width: 530px) {
    #submit-button {
        font-size: larger;
    }
}