{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <input type='submit'>
  {% for question in questions %}
    <div class="jumbotron" >
        <div class="card border-primary mb-3">
            <div class="card-header">Question {{question.number}}</div>
            <div class="card-body">
              <p class="card-text">{{question.question}}</p>
              {% for answer in question.answers %}
                <label>
                  <input type='radio' name={{question.number}} id='answer-button' value="{{answer}}">
                  <p>{{ answer }}</p>
                </label>
              {% endfor %}
            </div>
        </div>
    </div>
  {% endfor %}
  <input type='submit'>
</form>
{% endblock content %}
