{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block content %}
{% for question in questions %}
  <div class="jumbotron">
      <div class="card border-primary mb-3">
          <div class="card-header"></div>
          <div class="card-body">
            <p class="card-text">{{question.question}}</p>
            {% for answer in question.answers %}
              <button type="button" class="btn btn-primary" id='answer-button'>{{answer}}</button>
            {% endfor %}
          </div>
      </div>
  </div>
{% endfor %}
{% endblock content %}
